* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
    padding: 10px;
}

a {
    background-color: #f1f1f1;
    border-style: solid;
    border-color: black;
}

img {
    background-color: #f1f1f1;
    border-style: solid;
    border-color: black;
}

.navbar > a {
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    margin: 10px;
    justify-content: space-between;
}

header.flex-container {
    align-items: baseline;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

.centerFlexbox {
    justify-content: center;
    align-items: center;
}

.pullLastFlexboxBoxRight {
    margin-left: auto;
}

img.pullLastFlexboxBoxRight {
    padding: 10px;
}

#content {
    flex: 1;
    flex-direction: column;
}
